<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>angular--dome</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
		<style type="text/css">
			body {
				padding: 10px;
			}
		</style>
	</head>

	<body ng-app="myApp">	
		<div ng-controller="myController">
			<h3>表单</h3>
			<hr />
			<form novalidate>
				<label for="name">姓名：</label>
				<input id="name" type="text" ng-model="user.name" />				
				<label for="age">年龄：</label>
				<input type="text" id="age" ng-model="user.age" /><br />
				<button class="btn btn-success" ng-click="reset()">重置</button>
			</form>
		</div>	
		<br />
		<p class="alert alert-success">angular.copy()为angular内置方法，复制数组或对象</p>
	</body>
	<script src="lib/angular.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var app = angular.module("myApp",[])
		.controller("myController",function($scope){
			$scope.master = { name:"Sem",age:18 };
			$scope.reset=function(){
				$scope.user = angular.copy($scope.master);
			}
			$scope.reset();
		})
	</script>
</html>